<div>
  <div class="alert alert-dark m-2 col-sm-12 col-md-12 col-lg-3" [formGroup]='calcForm'>
    <div class="row">
      <div class="display col-md-12">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Display</span>
          <input type="text" class="form-control" placeholder="Enter expression here" formControlName="display"
            name="display" (keyup.enter)="getOperator('=')" aria-label="Answer" aria-describedby="basic-addon1">
        </div>
        <div class="alert alert-danger" *ngIf="errMessageMode">{{errMsg}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div formArrayName="operands" *ngFor="let operand of operands.controls; let i=index"
            [ngClass]="{'col-12': operand.value.value===0,'col-4':operand.value.value!=0}" class='d-grid gap-2'>
            <span class="btn  btn-primary my-1" (click)="getOperand(operand.value.value)" [formGroupName]="i">
              {{operand.value.value}}
            </span>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div formArrayName="operators" *ngFor="let operator of operators.controls;let i=index"
            [ngClass]="{'col-12': operator.value.operator==='=','col-6':operator.value.operator!='='}" class='d-grid gap-2'>
            <span class="btn  btn-secondary my-1" (click)="getOperator(operator.value.operator)" [formGroupName]="i">
              {{operator.value.operator}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

